<div class='posts-wrapper'>
	<div class='post'>
		<div class='image-header'>
			<img class='profile-pic' src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTKY4wrF0a3Ga7QyJ-V6r7A3DY5nwCxKucLBNqbG5gW_IGdJitMJsq1ir8' width="30px" height="30px">
			<%= link_to @post.user.username, user_path(@post.user) %>
		</div>

		<div class='post-image'>
			<%= image_tag @post.image.url(:size) %>
		</div>

		<div class='image-footer'>
			<div class='edit-options'>
				<% if @post.user_likes.include? current_user %>
					<%= link_to '☻', new_post_like_path(@post), { :class => "like-active" } %>
				<% else %>
					<%= link_to '☺', new_post_like_path(@post), { :class => "like-inactive" } %>
				<% end %>
				<% if @post.user_likes.size == 1%>
					<%= "#{@post.user_likes.size} like" %>
				<% else %>
					<%= "#{@post.user_likes.size} likes" %>
				<% end %>
			</div>
			<div class='caption'>
				<%= @post.caption %>
			</div>
			<div class='comments'>
				<% if @post.comments.size > 0 %>
					<% @post.comments.each do |comment| %>
						<div class='comment'>
							<%= link_to comment.user.username, user_path(comment.user), {class: 'username'} %>
							<%= comment.content %>
						</div>
					<% end %>
				<% end %>
				<%= form_for [@post, @post.comments.new] do |form| %>
					<%= form.text_field :content, placeholder: 'Comment...' %>
				<% end %>
			</div>
			<% if current_user == @post.user %>
				<div class='edit-options'>
					<%= link_to 'Edit', edit_post_path(@post) %>
					<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Confirm delete' } %>
				</div>
			<% end %>
		</div>
	</div>
</div>