<div class='posts-wrapper'>
	<div class='post'>
		<div class='image-header'>
			<img class='profile-pic' src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTKY4wrF0a3Ga7QyJ-V6r7A3DY5nwCxKucLBNqbG5gW_IGdJitMJsq1ir8' width="30px" height="30px">
			<%= link_to @post.user.username, user_path(@post.user) %>
		</div>

		<div class='post-image'>
			<%= image_tag @post.image.url(:size) %>
		</div>

		<div class='image-footer'>
			<div class='caption'>
				<%= @post.caption %>
			</div>
			<% if current_user == @post.user %>
				<div class='edit-options'>
					<%= link_to 'Edit', edit_post_path(@post) %>
					<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Confirm delete' } %>
				</div>
			<% end %>
		</div>
	</div>
</div>